<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Exercício</title>
</head>
<body>
    <h1>Exlcluir Exercício</h1>
    <h2>Confirma que deseja excluir o exercício {{ se.exercise.name }} da Sessão?</h2>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Excluir</button>
    </form>
    <a href="{% url 'training:training_session_detail' pk=session.pk %}">Cancelar</a>
</body>
</html>
