<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions</title>
</head>
<body>
    <section>
        {% for session in sessions %}
            <ul>
                <li><a href="{% url 'training:training_session_detail' session.pk %}">{{session.performed_at}} - {{session.session_type}}</a>
                 - {{ session.exercise_count }} exercícios / {{ session.set_count }} séries</li>
            </ul>
        {% endfor %}

        <a href="{% url 'training:training_session_create' %}">Nova Sessão</a>
    </section>
</body>
</html>