<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Session</title>
</head>
<body>
    <a href="{% url 'training:training_session_list' %}">Ver Todas as Sessões</a>
    <h1>{{ session }}</h1>
    <p><a href="{% url 'training:training_session_update' pk=session.pk %}">Editar Sessão</a></p>
    <p><a href="{% url 'training:training_session_delete' pk=session.pk %}">Deletar Sessão</a></p>

    <ul>
        {% for se in exercises %}
            <h3>{{ se.order }}. {{ se.exercise.name }} ({{ se.variation }}) <a href="{% url 'training:session_exercise_update' pk=se.pk %}">Editar</a><a href="{% url 'training:session_exercise_delete' pk=se.pk %}">Deletar</a></h3>
            <ul>
                {% for s in se.exercise_sets.all %}
                <li>{{ s }}</li>
                {% empty %}
                <li>Sem séries ainda.</li>
                {% endfor %}
            </ul>
            <a href="{% url 'training:session_exercise_detail' pk=se.pk %}">Ver/Adicionar séries</a>
            {% endfor %}
    </ul>

    <h2>Adicionar Exercício</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>